// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: white;
  background: url(http://www.catbreedslist.com/cat-wallpapers/American-Shorthair-kitten-cute-paws-2560x1600.jpg);
  background-size: cover;
}
div {
  border: solid black;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
  padding: 20px;
}

ul a {
  text-decoration: none;
}

h1 {
text-align: center;
}

a {
  color: white;
}
